
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Functions</h4>

@using (Ajax.BeginForm("UploadDateFiles", "SiteAdmin", new AjaxOptions{
    }){
}
<button type="submit"  ></button>
